
<!--external links-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js"></script>
<link href="//cdnjs.cloudflare.com/ajax/libs/x-editable/1.5.0/bootstrap3-editable/css/bootstrap-editable.css" rel="stylesheet"/>
<link  href="https://cdnjs.cloudflare.com/ajax/libs/cropper/2.2.4/cropper.min.css" rel="stylesheet">
<script src="https://cdnjs.cloudflare.com/ajax/libs/cropper/2.2.4/cropper.min.js"></script>
<!--internal library links-->
<link href="libs/bootstrap-star-rating/css/star-rating.min.css" media="all" rel="stylesheet" type="text/css" />
<script src="libs/bootstrap-star-rating/js/star-rating.min.js" type="text/javascript"></script>
<script src="libs/momentjs/moment.min.js" type="text/javascript"></script>
<!--my css-->
<link rel="stylesheet" type="text/css" href="css/profile.css">
<link rel="stylesheet" type="text/css" href="css/avatar.css">
<!--my script-->
<script src="js/review.js" type="text/javascript"></script>
<script src="js/profile.js" type="text/javascript"></script>
</head>
