
<div id="content" class="container page_content cssEffects">
    <!-- Example row of columns -->
    <div class="row index_buttons">
        <div class="col-md-offset-4 col-md-4 text-center">
            <button id="find_trainer" type="button" class="btn btn_cirlce btn_circle_xl padding hvr-grow">
                <span><strong>Find And<br>
                        <span class="info_text">R</span><span class="danger_text">e</span><span class="warning_text">v</span><span class="primary_text">i</span><span class="success_text">e</span><span class="danger_text">w</span>
                        <br> A Trainer</strong>
                </span>
            </button>
        </div>
    </div>
    <div class="container-fluid">
        <div class="hover_text">
            <h1 id="button_description" class="text-center">Get Fit</h1>
        </div>
    </div>
</div>
</body>
</html>
